page-movie-detail {
    .comment-rank {
        text-align: center;
        margin-top: 15px;
    }

    .movie-summary {
        padding: 10px;
        overflow-y: hidden;
        &.show-all {
            max-height: auto;
        }
        &.show-part{
            max-height: 120px !important;
        }
    }

    ul {
        padding: 0px;
      
        &.rating li {
            padding: 0 !important;
            margin: 0;
            background: none;
            color: #488aff;
        
            ion-icon {
                font-size: 20px;
            }
        }
    }

    .write-comment {
        margin: 0;
    }

    .image{
        margin: 0px 8px 0px 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 3px .3px #000000; 
    }
}
